._4k8w:hover{
	    background-color: rgb(16 111 143) !important;
}

._4k8w._2tms {
    background-color: rgb(17 68 84) !important;
}

.x9f619 ._8922 table
{
    padding-right: 90px;
}

._8922 .xixxii4
{
    transform: scale(0.8) translatey(30px);
}

._4g6x ~ .xeuugli .xeuugli ~ .xeuugli,
[aria-label="Enviar"]
{
    filter: invert(1) !important;
}