body,
.no-scroll
{
    overflow: visible !important;
}
.cookie-notice__CookieNoticeWrapper-sc-186p755-0,
.css-1ytpjy4.css-1ytpjy4 .qc-cmp2-summary-section
{
    display: none !important;
    visibility: hidden !important;
}
